.no-dizmo-drag {
    -webkit-dashboard-region: dashboard-region(control rectangle);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#front {
    height: 100%;
    width: 100%;
    background-color: rgb(237,237,237)
}
#app {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
  height: 100%;
}
#questions-container {
  height: 80%;
  overflow: scroll;
}
#questions-container span {
  font-size: 100px;
  text-align: center;
  color: rgba(33,33,33,0.3);
  position: relative;
  top: 40px;
}
#questions-container div {
  text-align: center;
}
.question-item {
  margin-bottom: 7px;
}
#userinput {
  display: -webkit-flex;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: rgb(144,167,5);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
#front div.table {
    display: table;
    height: 100%;
    width: 100%;
}

#front div.table div.table-cell {
    display: table-cell;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#back {
    height: 100%;
    width: 100%;
}

#back div.footer {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#back div.footer button#done {
    line-height: 26px;
}
