<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vuejs</title>

    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="front">
  <div id="app">
    <!-- <p>{{ message }}</p> -->
    <!-- <h2 v-bind:text="message">{{message}}</h2> -->
    <div id="questions-container">
      <div v-if="questions.length==0">
        <span>?</span>
      </div>
      <ul>
        <li class="question-item" v-for="question in questions">
          <kbd>{{ question }}</kbd>
        </li>
      </ul>
    </div>
    <div id="userinput">

      <input v-model="newquestion" data-type='dizmo-input' v-on:keyup.enter="writeToTree" placeholder="Add a new quick-question for the presenter">
      <button v-on:click="writeToTree" data-type="dizmo-button">
        Add
      </button>
    </div>

  </div>
</div>
<div id="back">
    <div class="footer">
        <button id="done" data-type="dizmo-button">Done</button>
    </div>
</div>

<script src="lib/i18n-1.0.6.min.js"></script>
<script src="index.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

</body>
</html>
